body {
	background-color: #009900;
}

h1{
	text-align: center;
}

button {
	border : 1px solid black;
	background-color: white;
	border-radius: 10px;
}

#dealer-board{
	display: block;
	margin: 5 auto;
	text-align: center;	
	border : 3px solid black;
	height: 35%;
}

#player-board{
	display: block;
	margin: 5 auto;
	text-align: center;	
	border : 3px solid black;
	height: 40%;
}

#player-total{
	margin: 5 auto;
	border : 1px solid black;
	text-align: center;
	background-color: white;
	width: 10%;
	height: 10%
}

#wallet {
	margin: 5 auto;
	border : 1px solid black;
	text-align: center;
	background-color: white;
	width: 4%;
	height: 10%
}


#dealer-total{
	margin: 5 auto;
	border : 1px solid black;
	text-align: center;
	background-color: white;
	width: 10%;
	height: 10%
}

.card{
    width:40px;
    height:60px;
    border:1px solid #151718;
  /*  float:left;*/
    margin-right:5px;
    margin-bottom:5px;
    border-radius:2px;
    font-family:courier;
  /*  cursor:pointer;*/
    background-color: white;
    display: inline-block;
    color: black;
}

/*span.number, span.suit{
    width:100%;
    display:block;
    text-align:center;
    padding-top:8px;
}*/

#firstCard{
	color: rgba(0,0,0,0.0);
	background: url(cardback-hs.png);
	background-size: cover;
	width: 40px;
}

.red{
	color: red;
}