body {
	background-color: green
}

h1{
	text-align: center;
}

#dealer-board{
	display: block;
	margin: 5 auto;
	text-align: center;	
	border : 3px solid black;
	height: 35%;
}

#player-board{
	display: block;
	margin: 5 auto;
	text-align: center;	
	border : 3px solid black;
	height: 40%;
}

.card{
    width:40px;
    height:60px;
    border:1px solid #151718;
  /*  float:left;*/
    margin-right:5px;
    margin-bottom:5px;
    border-radius:2px;
    font-family:courier;
  /*  cursor:pointer;*/
    background-color: white;
    display: inline-block;
    color: black;
}

/*span.number, span.suit{
    width:100%;
    display:block;
    text-align:center;
    padding-top:8px;
}*/

#firstCard{
	color: black;
	background-color: #000;
}

.red{
	color: red;
}